<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Converter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
</head>
<body>
    <h3>Converter currency</h3>
    <br>
    <form th:align="justify" action="/" method="post">
        <div class="form-row">
            <div class="form-group col-md-2 text-center">
                <label for="have">Amount</label>
                <input type="number" step="0.0001" class="form-control" id="have" placeholder="input value" name="have" th:value="${have}">
            </div>
            <div class="form-group col-md-2 text-center">
                <label for="get">Result</label>
                <input type="number" step="0.0001" class="form-control" id="get" placeholder="output value" th:value="${get}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 text-center">
                <label for="valuteFrom">I have...</label>
                <select class="form-control" id="valuteFrom" name="valuteFrom">
                    <option th:each="valFrom : ${currency}" th:text="${valFrom.getName()}" th:value="${valFrom.getName()}" th:selected="${valFrom.getName().equals(currencyFrom)}"></option>
                </select>
            </div>
            <div class="form-group col-md-2 text-center">
                <label for="valuteTo">I want...</label>
                <select class="form-control" id="valuteTo" name="valuteTo">
                    <option th:each="valTo : ${currency}" th:text="${valTo.getName()}" th:value="${valTo.getName()}" th:selected="${valTo.getName().equals(currencyTo)}"></option>
                </select>
            </div>
        </div>
        <button type="submit">Calculate</button>
    </form>
    <br>
    <div class="form-group col-md-2">
        <h6>
            <label th:text="${message}"></label>
        </h6>
    </div>
</body>
</html>